<mat-toolbar color="primary" fxLayoutGap="8px">
  <button mat-icon-button aria-label="Main menu">
    <mat-icon>menu</mat-icon>
  </button>
  <a mat-button [routerLink]="'/home'" routerLinkActive="activebutton">
    <mat-icon fontIcon="home"></mat-icon>
    <span class="mat-h2">LemonMart</span>
  </a>

  <a mat-button [routerLink]="'/404/2'" routerLinkActive="activebutton" >TBD Feature</a>

  <span class="flex-spacer"></span>
  <span *ngIf="userName">{{userName}}</span>
  <button mat-mini-fab matTooltip="User Profile" aria-label="User profile" routerLink="/user/profile">
    <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-mini-fab matTooltip="Logout" aria-label="Logout" routerLink="/user/logout">
    <mat-icon>lock_open</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
